@import "../../../../frontend/resources/sass/variables/colors";

.gl-b-about-wrapper {
	padding: 140px 0 265px 0 !important;

	.content-wrapper {
		margin-top: auto;
		margin-bottom: auto;
		align-items: center;

		.content {
			max-width: 485px;

			.char {
				transform: translateY(-35px);
				transition: transform 0.1s;
				opacity: 0;
			}
		}

		h4 {

			font-size: 40px;
			font-style: normal;
			font-weight: 500;
			line-height: 36.48px;
			letter-spacing: 0.64px;
			text-transform: capitalize;
			color: $darkblue-04;
			padding-bottom: 24px;
		}

		.aboutdescription {
			opacity: 0;
		}

		p {

			font-size: 20px;
			font-weight: 500;
			line-height: 25px;
			letter-spacing: 0.16px;
			color: $darkblue-04;
		}

		.download-btn {
			padding-top: 36px;
			opacity: 0;

			a {
				text-decoration: none;
				padding: 12px 27px;
				background-color: $orange-05;
				color: $white;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 1.68px;
				border-radius: 4px;
			}
		}
	}

	.image-wrapper {

		img {
			width: 100%;
		}
	}
}
