html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 !important;
}

.entry-content {
	margin: 0;
}

.post-8 {
	margin: 0;
}

.site-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 57px;
	background-color: $darkblue-05;


	.menu {
		padding: 12px 0;
		display: flex;
		align-items: end;
		text-align: end;
		justify-content: end;

		.nav-menu {

			li {

				a {
					text-decoration: none;
					color: $white;
					padding: 0 16px;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
				}

				&:first-of-type {

					a {
						padding-left: 0;
					}
				}

				&:last-of-type {

					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}
