$darkblue-05: #090f2c;
$darkblue-04: #111737;
$darkblue-03: #151c41;
$darkblue-02: #18214b;
$darkblue-01: #192353;

$blue-05: #3772ff;
$blue-04: #5c8cff;
$blue-03: #82a7ff;
$blue-02: #aac3ff;
$blue-01: #d9e4ff;

$orange-05: #f81;
$orange-04: #ff952a;
$orange-03: #fea145;
$orange-02: #feb56b;
$orange-01: #ffc286;

$white: #fff;
$black: #000;
$grey : #ddd;
